<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Forms</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>


<body>

        <p id="demo"></p>


  <div class="col-lg-6" name="start">
            <form id="contact" action="ajouter.php" method="post" name="form1">
        <div class="card" name="div0">
            <div class="card-header">
                <strong>Event</strong>
                <small> Form</small>
            </div>
            <div class="card-body card-block" name="div1">
                <div class="form-group" name="div3">
                    <label for="company" class=" form-control-label">Event ID</label>
                    <input type="text" id="company" placeholder="Enter your event ID" class="form-control" name="ID_Event">
                </div>
                <div class="form-group">
                    <label for="vat" class=" form-control-label">Event Name</label>
                    <input type="text" id="vat" placeholder="Enter your event Name" class="form-control" name="NomEvent">
                </div>
                <div class="form-group">
                    <label for="street" class=" form-control-label">Start Date</label>
                    <input type="date" id="street" placeholder="Enter Starting Date of the event" class="form-control" name="DebEvent">
                </div>
                <div class="form-group">
                        <label for="street" class=" form-control-label">End Date</label>
                        <input type="date" id="street" placeholder="Enter Ending Date of the event" class="form-control" name="FinEvent">
                    </div>
                    <div class="form-group">
                            <label for="street" class=" form-control-label">percentage of discount</label>
                            <input type="text" id="street" placeholder="Enter percentage of discount" class="form-control" name="PourProd">
                        </div>
                        <div class="form-group">
                                <label for="street" class=" form-control-label">price after discount</label>
                                <input type="text" id="street" placeholder="Enter price after discount" class="form-control" name="PrixApres">
                            </div>
                            <div class="form-group">
                                <label for="street" class=" form-control-label">price after discount</label>
                                <input type="text" id="street" placeholder="Enter price after discount" class="form-control" name="Image_eve">
                            </div>
                <div class="card-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn-sm" id="contact-submit" >
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        </div>
                
            </div>
        </div>
    </div>

    


        <!-- Jquery JS-->
        <script src="vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="vendor/slick/slick.min.js">
        </script>
        <script src="vendor/wow/wow.min.js"></script>
        <script src="vendor/animsition/animsition.min.js"></script>
        <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="vendor/circle-progress/circle-progress.min.js"></script>
        <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="vendor/select2/select2.min.js">
        </script>
    
        <!-- Main JS-->
        <script src="js/main.js"></script>


        

</body>

</html>